<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

<title> Potager - Détail</title>
</head>
<body>
<div class="container">
<h2>Détail du potager</h2>

<div> Nom : <b th:text="${potager.nom}"></b> </div>
<div> Localisation : <b th:text="${potager.localisation}"></b> </div>
<div> Ville : <b th:text="${potager.ville}"></b> </div>
<div> Surface : <b th:text="${potager.surface}"></b> </div>

<div th:unless=${#lists.isEmpty(potager.carres)}>
		<h2>Liste des carrés</h2>
		<table class="table table-success table-striped">
			<thead>
				<tr>
					<th>Numéro</th>
					<th>Surface</th>
					<th>Type de sol</th>
					<th>Exposition</th>
					<th>Nombre d'implantation</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="carre : ${potager.carres}">
					<td th:text="${carre.idCarre}"></td>
					<td th:text="${carre.surface}"></td>
					<td th:text="${carre.typeSol}"></td>
					<td th:text="${carre.typeExposition}"></td>
					<td th:text="${carre.implantations.size()}"></td>
			
					<td>
					<a th:href="@{/carre/{id}(id=${carre.idCarre})}" class="btn btn-outline-dark" role="button">Détail</a>
					<a th:href="@{/carre/{id}/delete(id=${carre.idCarre})}" class="btn btn-outline-danger" role="button">Supprimer</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<a th:href="@{/potager/{id}/add(id=${potager.idPotager})}"  class="btn btn-outline-dark d-grid gap-2 col-2 mx-auto" role="button">Ajouter un carré</a>
	</div>
</body>
</html>