<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Implantation - Ajouter</title>
</head>
<body>
<h2 th:text="|Implantation sur carré ${carre.idCarre} du potager ${carre.potager.nom}|"></h2>
	<form th:action= "@{/implantation/add}" th:object="${implantationForm}" method="post">
		<input type="hidden" th:field="*{carreId}" id="carreId" value="*{carreId}">
		<label for="plante">Plante</label>
		<select th:field="*{planteId}" id="planteId">
			<option th:each="plante : ${plantes}" th:value="${plante.idPlante}" th:text="|${plante.nom} ${plante.variete}|"></option>
		</select>
		<br><label for="dateMiseEnPlace">Date de mise en place</label>
		<input type="date" th:field="*{implantation.dateMiseEnPlace}" id="dateMiseEnPlace">
		<br><label for="dateRecolte">Date de récolte</label>
		<input type="date" th:field="*{implantation.dateRecolte}"  id="dateRecolte">
		<br><label for="quantite">Quantité</label>
		<input type="number" min="1" th:field="*{implantation.quantite}" id="quantite" placeholder="Quantité">
		<span th:if="${#fields.hasErrors('implantation.quantite')}" th:errors="*{implantation.quantite}"></span>
		<br><input type="submit" value="Ajouter">
	</form>
</body>
</html>